<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="employee-form">
  <div class="form-group">
    <label for="first_name">First Name</label>
    <input type="text" class="form-control" formControlName="first_name" id="first_name">
    <div *ngIf="employeeForm.controls['first_name'].invalid && employeeForm.controls['first_name'].touched" class="text-danger">
      First name is required
    </div>
  </div>

  <div class="form-group">
    <label for="last_name">Last Name</label>
    <input type="text" class="form-control" formControlName="last_name" id="last_name">
    <div *ngIf="employeeForm.controls['last_name'].invalid && employeeForm.controls['last_name'].touched" class="text-danger">
      Last name is required
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" formControlName="email" id="email">
    <div *ngIf="employeeForm.controls['email'].invalid && employeeForm.controls['email'].touched" class="text-danger">
      Please enter a valid email address
    </div>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary" [disabled]="!employeeForm.valid">
      {{ employee ? 'Update' : 'Add' }}
    </button>
    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
  </div>
</form>
